<div>
  <p id="notice"><%= notice %></p>

  <div>
    <h4>Project Name: <%= @project.title%></h4>
    <p>Project Description: <%= @project.description %></p>
    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Back', projects_path %>
    <p>Project Manager id: <%= @project.creator_id %></p>
  </div>


  <h5>Bugs</h5>
  <%= render @project.bugs %>

  <h6>Add a bug:</h6>
  <%= render 'bugs/form' %>

  <%= link_to 'Edit Bug', edit_project_bug_path(@project) %>


  <h4>Developers</h4>
  <div>
    <ul>
      <% @project_pres.project_developers.each do |developer| %>
        <li>
          <p><%= developer.name %></p>
          <%= @project_pres.link_to_delete_user_from_project(developer.id) %>
        </li>
      <% end %>
    </ul>
  </div>
  <h4>Quality Assurance (QA)</h4>
  <div>
    <ul>
      <% @project_pres.project_qa.each do |qa| %>
      <li>
        <p><%= qa.name %></p>
        <%= @project_pres.link_to_delete_user_from_project(qa.id)%>
      </li>
      <% end %>
    </ul>
  </div>

  <h3>Unassigned developers and Qa</h3>

  <%= render 'dev' %>
  <%= render 'qa' %>



</div>
