<p>
  <strong>title</strong>
  <%= bug.title %>
</p>
<p>
  <strong>Description</strong>
  <%= bug.description %>
</p>
<p>
  <strong>Deadline</strong>
  <%= bug.deadline %>
</p>
<p>
  <strong>Status</strong>
  <%= bug.status %>
</p>
<p>
  <strong>bug_type</strong>
  <%= bug.bug_type %>
</p>
<p>
  <strong>Screenshot</strong>
  <% if bug.screenshot.attached? %>
  <% image_tag bug.screenshot, style: "width: 200px; display: block" %>
  <% end %>
</p>


<p>
  <%= link_to 'Destroy Bug', [bug.project, bug], method: :delete, data: { confirm: 'Are you sure'} %>
</p>
