<div class="card" >
  <%= cl_image_tag(@bug.screenshot.key, width: 300, height: 200, crop: :scale, class: 'card-img-top') %>
  <div class="card-body">
    <h5 class="card-title"><strong>Title: </strong><%= @bug.title %></h5>
    <p class="card-text"><strong>Description: </strong><%= @bug.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Deadline: </strong><%= @bug.deadline %></li>
    <li class="list-group-item"><strong>Status: </strong><%= @bug.status %></li>
    <li class="list-group-item"><strong>Bug Type: </strong><%= @bug.bug_type %></li>
  </ul>
  <div class="card-body">
    <%= link_to "Back", project_path(@bug.project), class: 'card-link' %>
    <%= link_to "Edit", edit_project_bug_path(@bug.project, @bug), class: 'card-link' %>
    <%= link_to "Destroy", [@bug.project, @bug], method: :delete, data: { confirm: 'Are you sure'}, class: 'card-link' %>
  </div>
</div>

<div class="row">
  <h1 class="col-md-9"><%= @bug.title %></h1>
  <div class="col-md-3">
    <%= link_to "assign", project_bug_assign_path(@project, @bug),method: :patch, remote: true, class: "btn btn-outline-primary" unless @bug.assigned_to_id %>
    <% if @bug.assigned_to_id %>
      <%= link_to "Start Working", project_bug_start_working_path(@bug.project, @bug),method: :patch, remote: true , class: "btn btn-outline-primary" if @bug.status == 'neew' %>
      <%= link_to (@bug.bug_type=='bug')? 'resolved' : 'completed', project_bug_work_done_path(@bug.project, @bug), remote: true, method: :patch, class: "btn btn-outline-primary" if @bug.status == 'started' %>
    <% end %>
  </div>
  <div>
    <% if @bug.assigned_to_id %>
      <p>assigned_to_id: <%= @bug.assigned_to_id %></p>
    <% end %>
  </div>
</div>

